<div id="{{id}}" class="inputForm">
    <label class="inputForm__label {{#if (isFilled value)}}filled{{/if}}" for="{{name}}">{{label}}</label>
    <input class="inputForm__input" id="{{name}}" type="{{type}}" name="{{name}}" placeholder="{{placeholder}}" value="{{value}}"></input>
</div>
