<div id="{{id}}" class="inputWrapper">
    <label class="inputLabel {{#if (isFilled value)}}filled{{/if}}" for="{{name}}">{{label}}</label>
    <input class="input" id="{{name}}" type="{{type}}" name="{{name}}" placeholder="{{placeholder}}" value="{{value}}"></input>
</div>